{% extends "layout.njk" %}

{% block head %}
<title>Sobre</title>
{% endblock %}

{% block links %}
    <div class="links">
        <a href="/about" id="about"><b>Sobre</b></a>
        <a href="/recipes" id="recipe">Receitas</a>
    </div>
{% endblock links %}

    {% block content %}
    
    <div class="contents">

        <div class="content-about">
            <h1>Sobre o Foodfy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat cupiditate doloribus, perspiciatis numquam ipsa officia voluptatibus id animi! Voluptatum cum dolor ad eum vero nobis, officiis accusamus numquam illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aspernatur neque aliquam explicabo. Pariatur quisquam iure placeat atque cum? Deleniti, ut! <br><br> Quos quibusdam mollitia dolorum alias animi eius dicta beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ratione sed quas praesentium sint, vitae cumque neque voluptatum consectetur dolorum. Amet excepturi at veniam beatae praesentium ipsam debitis non vel.</p>

        </div> 

        <div class="content-started">
            <h2>Como tudo começou</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat cupiditate doloribus, perspiciatis numquam ipsa officia voluptatibus id animi! Voluptatum cum dolor ad eum vero nobis, officiis accusamus numquam illo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aspernatur neque aliquam explicabo. Pariatur quisquam iure placeat atque cum? Deleniti, ut! <br><br> Quos quibusdam mollitia dolorum alias animi eius dicta beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ratione sed quas praesentium sint, vitae cumque neque voluptatum consectetur dolorum. Amet excepturi at veniam beatae praesentium ipsam debitis non vel.</p>
        </div>

        <div class="content-our-recipes">
            <h2>Nossas receitas</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolorum possimus veniam cum tempore corporis architecto atque voluptatibus laboriosam mollitia, ab ex maxime ratione nobis magnam. Dolore esse temporibus omnis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint repudiandae, optio magnam asperiores dolorem a totam veritatis reprehenderit laboriosam cum dolore, vitae minus qui iusto possimus dicta placeat aperiam officiis.
            </p>
        </div>

    
    </div>
    {% endblock %}
